/* Style CSS file for Website  */
body {
    font-family: monospace;
    background-image: url('https://cdn.pixabay.com/photo/2020/04/19/08/17/watercolor-5062356_1280.jpg');
    background-size: cover;
    padding: 20px;
    margin: 0;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: #fff;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
    max-width: 600px
}

.links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.links li {
    margin-bottom: 7px;
}

.links li a {
    display: block;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.603); 
    color: #000; 
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.links li a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.image-container {
    text-align: center; 
}

img {
    max-width: 100%;
    height: auto;
    opacity: 0.8; 
    border-radius: 5px; 
}

h1.main-title{
    color: #245f96;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #4e676d;
}

h2.second-title{
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px 2px #4e676d;
}

button {
    font-size: 32px;
    display: inline-block;
    cursor: pointer;
    border-radius: 7px;
    font-family: monospace;
    text-decoration: none;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
}

.buttons .github a {
    text-decoration: none;
    color: inherit;
    display: block; 
    padding: 8px 16px; 
}

.buttons .contact-me a {
    text-decoration: none;
    color: inherit;
    display: block; 
    padding: 8px 16px; 
}

.github:hover, .contact-me:hover {
    background-color: rgb(46, 135, 161);
    text-decoration: none;
}

li:hover {
    background-color: rgb(46, 135, 161);
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 10px auto; 
    }
}

@media only screen and (max-width: 600px) {
    .buttons button {
        display: block;
        width: 100%;
        margin: 10px auto;
    }
    .container {
        margin: 10px auto; 
    }
}